<p>
  <strong>User:</strong>
  <%= @product.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format @product.description %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @product.sub_categories %>
</p>

<p>
  <strong>Photos</strong>
</p>
<% if @product.product_photos.blank? %>
  <p> no photos </p>
<% else %>
  <% @product.product_photos.each do |photo| %>
    <a href="<%= photo %>" title="<%= photo.file.filename %>" onclick="showPrev(event, this)">
      <%= image_tag photo.thumb, class: "img-thumbnail" %> <br>
    </a>
  <% end %>
<% end %>

<br>

<%= render "products/modul_img_preview" %>

<%= link_to 'Buy', '#' %> |
<%= link_to 'Add to chart', '#' %> |
<%= link_to 'Back', root_path %>
