<p id="notice"><%= notice %></p>

<h1>Sub Categories for <%= @category.name %></h1>

<%= render "sub_categories" %>

<%= link_to 'New Sub Category', new_admin_category_sub_category_path(@category.id) %> | 
<%= link_to 'Back', admin_categories_path %>
